<footer class="fixed-bottom bg-info">
    <p class="text-center text-white"><font size="2">
        © Copyright 2018 Uaibee</font><br/>
        <font size="1">
        *todo conteúdo é de responsabilidade de seus publicadores.
        </font>
    </p>
        
</footer>