<!-- partials/loja.html -->
<h1 class="text-center">Loja</h1>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<form ng-submit="salva()" name="loja_form">

    <!-- <div class="form-group">
    <button class="button btn-warning">
        <input type="file" ngf-select ng-model="loja.foto" name="foto" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB"
            ngf-min-height="100" ngf-resize="{width: 100, height: 100}" />
    </button><br/><br/>
    Image thumbnail:<br/>
    <img style="width:100px;" ng-show="!!loja.foto" ngf-thumbnail="loja.foto || '/thumb.jpg'" />
    </div> -->

    <div class="form-group">
        <label class="btn btn-primary" for="fotoLoja">
            <input type="file" ngf-select ng-model="loja.foto" name="foto" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB"
                ngf-min-height="100" ngf-resize="{width: 100, height: 100}" id="fotoLoja" style="display:none;"/>Escolher Foto
        </label><br/><br/>
        Image thumbnail:<br/>
        <!-- <img style="width:100px;" ng-show="!!loja.foto" ngf-thumbnail="loja.foto || '/images/lojas/thumb.jpg'" /> -->
        <img style="width:100px;" ng-show="!!loja.foto" ngf-thumbnail="loja.foto" />
    </div>

    <div class="form-group">
        <label for="nome">Nome da Loja</label>
        <input type="text" class="form-control" id="nome" name="nome" required ng-model="loja.nome">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="email" class="form-control" id="email" placeholder="email@exemplo.com" name="email" ng-model="loja.email" required>
        </div>
    </div>
    <!-- <div class="form-group">
            <label for="endereco">Cidade</label>
            <div class="input-group">
                <input type="text" class="form-control" id="endereco" name="endereco" ng-model="loja.endereco" required>
            </div>
        </div> -->





    <!-- HIDE FIELDS -->
    <div class="form-group">
        <input ng-disabled="true" ng-hide="true" type="text" id="DBFotoUpdate" name="DBFotoUpdate" class="form-control" ng-model="loja.DBFotoUpdate">
    </div>
    <!-- END HIDE FIELDS -->
    
    <div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="#/lojas" class="btn btn-default">Voltar</a>
        <!-- <button ng-click="remove(loja)" class="btn btn-warning">Remover</button> -->
    </div>
</form>